<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ct.dao.AuthMapper">
<resultMap id="AuthMapper" type="list"/>
<select id="doLogin" resultMap="AuthMapper">
      SELECT account,password FROM sys_users where account=#{account} and password=#{password}
</select>
</mapper>
