<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ct.dao.ScheduleMapper">

    <insert id="addSchedule" parameterType="cn.ct.model.req.ScheduleReq">
        INSERT INTO schedule (
            department_id,
            room_id,
            user_id,
            sign,
            inquiry_time,
            quantity,
            remaining_quantity
        )
        VALUES(
            #{departmentId},
            #{roomId},
            #{userId},
            #{sign},
            #{inquiryTime},
            #{quantity},
            #{remainingQuantity}
        )
    </insert>

    <select id="getSchedule" resultType="cn.ct.model.dto.ScheduleDto" parameterType="java.util.Map">
        select
        t1.id as id,
        t1.user_id as userId,
        t1.department_id as departmentId,
        t1.room_id as roomId,
        t1.sign as sign,
        t1.quantity as quantity,
        t1.remaining_quantity as remainingQuantity,
        t1.inquiry_time as inquiryTime,
        t2.user_name as doctorName,
        t3.name as roomName
        from schedule as t1
        left join sys_users as t2 on t1.user_id = t2.id
        left join room as t3 on t1.room_id = t3.id
        <trim prefix="where" prefixOverrides="and | or">
                t1.status = 0
            <if test="departmentId != null">
                and t1.department_id=#{departmentId}
            </if>
            <if test="sign != null and sign!=''">
                and t1.sign=#{sign}
            </if>
        </trim>
    </select>

    <update id="updateSchedule" parameterType="cn.ct.model.pojo.Schedule">
        update schedule
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
            <if test="userId != null">
                user_id=#{userId},
            </if>
            <if test="departmentId != null">
                department_id=#{departmentId},
            </if>
            <if test="roomId != null">
                room_id=#{roomId},
            </if>
            <if test="sign != null and sign!=0">
                sign=#{sign},
            </if>
            <if test="quantity != null">
                quantity=#{quantity},
            </if>
            <if test="remainingQuantity != null">
                remaining_quantity=#{remainingQuantity},
            </if>
            <if test="inquiryTime != null">
                inquiry_time=#{inquiryTime},
            </if>
            <if test="status != null">
                status=#{status},
            </if>
        </trim>
    </update>

    <select id="getScheduleById" resultType="cn.ct.model.pojo.Schedule">
        select
        id as id,
        user_id as userId,
        department_id as departmentId,
        room_id as roomId,
        sign as sign,
        quantity as quantity,
        remaining_quantity as remainingQuantity,
        inquiry_time as inquiryTime,
        created_time as createdTime,
        updated_time as updatedTime
        from schedule
        <trim prefix="where" prefixOverrides="and | or">
                status = 0
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>
    <select id="getScheduleList" parameterType="cn.ct.model.req.ScheduleReq" resultType="cn.ct.model.dto.ScheduleDto">
        SELECT
            t2.`name` AS departmentName,
            t3.`name` AS roomName,
            t4.user_name AS doctorName,
            t1.id,
            t1.inquiry_time AS inquiryTime,
            t1.sign,
            t1.remaining_quantity AS remainingQuantity
        FROM
            schedule AS t1
            LEFT JOIN department AS t2 ON t1.department_id = t2.id
            LEFT JOIN room AS t3 ON t1.room_id = t3.id
            LEFT JOIN sys_users AS t4 ON t1.user_id = t4.id
        <trim prefix="where" prefixOverrides="and | or">
                t1.status = 0
            <if test="departmentId != null and departmentId != 0">
                and t1.department_id=#{departmentId}
            </if>
            <if test="roomId != null and roomId != 0">
                and t1.room_id=#{roomId}
            </if>
            <if test="doctorName != null and doctorName!=''">
                and t4.user_name like CONCAT('%',#{doctorName},'%')
            </if>
        </trim>
        ORDER BY
            t1.inquiry_time DESC
        <if test="beginPos != null and pageSize != null ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>
    <select id="getScheduleListCount" resultType="java.lang.Integer" parameterType="cn.ct.model.req.ScheduleReq">
        SELECT
            COUNT(*)
        FROM
            schedule AS t1
            LEFT JOIN department AS t2 ON t1.department_id = t2.id
            LEFT JOIN room AS t3 ON t1.room_id = t3.id
            LEFT JOIN sys_users AS t4 ON t1.user_id = t4.id
        <trim prefix="where" prefixOverrides="and | or">
                t1.status = 0
            <if test="departmentId != null and departmentId != 0">
                and t1.department_id=#{departmentId}
            </if>
            <if test="roomId != null and roomId != 0">
                and t1.room_id=#{roomId}
            </if>
            <if test="doctorName != null and doctorName!=''">
                and t4.user_name like CONCAT('%',#{doctorName},'%')
            </if>
        </trim>
    </select>
    <select id="checkScheduleRoomAndTime" parameterType="cn.ct.model.req.ScheduleReq" resultType="cn.ct.model.pojo.Schedule">
        select
            id as id,
            user_id as userId,
            department_id as departmentId,
            room_id as roomId,
            sign as sign,
            quantity as quantity,
            remaining_quantity as remainingQuantity,
            inquiry_time as inquiryTime,
            created_time as createdTime,
            updated_time as updatedTime
        from
            schedule
        <trim prefix="where" prefixOverrides="and | or">
            status = 0
            <if test="roomId != null and roomId != 0">
                and room_id=#{roomId}
            </if>
            <if test="sign != null and sign != 0">
                and sign=#{sign}
            </if>
            <if test="inquiryTime != null">
                and inquiry_time=#{inquiryTime}
            </if>
        </trim>
    </select>
    <select id="checkScheduleDoctorAndTime" parameterType="cn.ct.model.req.ScheduleReq" resultType="cn.ct.model.pojo.Schedule">
        select
            id as id,
            user_id as userId,
            department_id as departmentId,
            room_id as roomId,
            sign as sign,
            quantity as quantity,
            remaining_quantity as remainingQuantity,
            inquiry_time as inquiryTime,
            created_time as createdTime,
            updated_time as updatedTime
        from
            schedule
        <trim prefix="where" prefixOverrides="and | or">
            status = 0
            <if test="userId != null and userId != 0">
                and user_id=#{userId}
            </if>
            <if test="sign != null and sign != 0">
                and sign=#{sign}
            </if>
            <if test="inquiryTime != null">
                and inquiry_time=#{inquiryTime}
            </if>
        </trim>
    </select>
</mapper>