<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ct.dao.SysRolesMapper">
    <select id="getRolesList" resultType="cn.ct.model.dto.SysRoleDto">
        select
          id,
          role_name as roleName
        from
          sys_roles
    </select>
</mapper>